
/* -----------------------------------------------
Global Configurations 
--------------------------------------------------*/

body {
	
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5;

	padding: 0;
	margin: 0;
	background-color: #f4f4f4;	
	
}

.container {
	
	width:80%;
	margin: auto;
	overflow: hidden;
	align-content: center;
}

header {

	background-color: #FFF;
	box-shadow: 0 6px 6px -6px #c93694; 
	position: fixed;
	transition: top 0.2s ease-in-out;
	width: 100%;
	opacity: 0.6;	
	z-index: 2;
	transition: all 1s;
}

footer {

	color: #FFFFFF;
	background-color: #423E48;
	text-align: center;
	width: 100%; 

}

.higher-opacity {

	opacity: 1;
}


/* ----------------------------------------
Navigation Bar
-----------------------------------------*/

nav a {
	
	text-align: center;	
	font-weight: 100;
	color: #000;
	display: inline;
	text-decoration: none;
	letter-spacing: 1.5px;
	transition: 0.4s;
}

nav a:hover {

	background-color: #c93694;
	color: #FFEB00;
		
}

/*----------------------------------
Show-case Section
-----------------------------------*/

.div-show-case {
	
	opacity: 1;
	transition: opacity 2s linear;
  	text-align: center;
  
}



/* ---------------------------------------------------------------------------------------------
 Default styles for "standard" desktop or landscape tablet layout, about 1024px wide 
 -----------------------------------------------------------------------------------------------*/

nav a {

	padding: 30px 10px;
	font-size: 16px;
}

header {

	height: 120px;

}

footer {
	
	padding: 20px;
	margin-top: 20px;	
	font-size: 18px;	
	height: 200px;
}

ul#anim-list { 
	
	list-style-type: none;
	display: inline;	
}

#welcome1 {

	position: absolute;
	top: 50%;
	left:40%;
	text-align: center;	
	padding: 10px;
	font-size: 50px;
	color:#FFF;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px 8px #fff; 
	
}

#welcome2 {
	position: absolute;
	top: 55%;
	left: 35%;
	text-align: center;	
	font-size: 50px;
	color:#FFF;
	padding: 15px;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px 8px #fff; 
	
}

#welcome3 {

	position: absolute;
	top: 62%;
	left:32%;
	text-align: center;	
	font-size: 60px;
	color:#FFEB00;;
	padding: 15px;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px 8px #fff; 
	
}


.main-nav {

	float: right;
	margin-top: 40px;
	
}

#div-logo {

	float:left;
	margin-top: 0;
}

#logo {
	
		width: 200px;
	
}

.show-case {

	position: relative;
	z-index: -1;	
	min-height: 850px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/file-3.jpeg') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: 35%;
	box-shadow: 0 8px 6px -6px black;
	text-align: center;
	height:auto;	
}

.div-ab {

	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #0f0976;
	height: 760px;
	width: 100%;
	box-shadow: 0 8px 6px -6px black;

}

#aboutimage {
	
	height: auto;
	width: 100%;
	z-index: 1;	
	margin-top: 70px;
		
}

.div-ab-img {
	
	margin-left: 70px;
	float: left;

}

.div-ab-txt {

	padding: 10px;	
	margin-top: 90px;
	float: right;
	font-size: 28px;
	color: #FFEB00;
	width: 40%;
}

span#name {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 2.5vw;
}

.div-ab-txt p {
	font-weight: 100;
	margin-top: 0;
	margin-right: 50px;
	text-align: left;
}

/*------------------------------
 Animation 
 -------------------------------*/

#anim-list li {

	opacity: 0;
	animation: fadeIn 1s ease-in both;
	-moz-animation: fadeIn 1s ease-in both;
	-webkit-animation: fadeIn 1s ease-in both;

}

#anim-list li:nth-child(2){
	animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
}

#anim-list li:nth-child(3){
	animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-webkit-animation-delay:3s;
	-ms-animation-delay: 3s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



@media all and (max-width: 480px) {
  /* Styles for "average" mobile phone landscape; e.g., an iPhone  */
}

@media all and (max-width: 320px) {
  /* Styles for iPhone portrait and other really narrow layouts  */
}

@media all and (max-width: 990px) {

.main-nav {
	display: none;
}
}

@media all and (min-width: 1000px) {

.div-ab-img {

		padding-right: 10px;
		margin-left: 50px;
		float: left;	
	
	}
	.div-ab-txt {

		margin-right: 50px;
		padding: 10px;
		width: 40%;
		font-size: 20px;
	
	}

	nav a {
		
		padding: 20px 10px;
		font-size: 1.5vw;
	}	
  
}

@media all and (min-width: 1300px) {

	.div-ab-img {
	
		padding-right: 10px;
		margin-left: 180px;
		float: left;
	
	}

	.div-ab-txt {

		margin-right: 130px;
		padding: 10px;
		width: 40%;
		font-size: 25px;
		
	
	}

	nav a {

		padding: 30px 15px;
		font-size: 1.5vw;
	}
  
} 

@media all and (min-width: 1600px) {

	nav a {
		
		padding: 30px 15px;
		font-size: 1vw;
	}
	
	.div-ab-img {
	
		padding-right: 10px;
		margin-left: 250px;
		float: left;
	
	}

	.div-ab-txt {

		
		margin-right: 150px;
	
	}
  
} 

@media all and (min-width: 1800px) {

	nav a {
		
		padding: 30px 15px;
		font-size: 1vw;
	}
	
	.div-ab-img {
	
		padding-right: 10px;
		margin-left: 280px;
		float: left;
	
	}

	.div-ab-txt {

		
		margin-right: 200px;
	
	}
  
} 